<!doctype html>
<html>
  <head>
    <title>Research Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
      p {
        text-align: justify;
      }
    
    </style>
  </head>
    <body>
      {% include 'nav.html' %}
      <img class="img-fluid" id="banner" src="https://flask-website.esztercsaszar.repl.co/static/banner.jpg">
      <div class=container>
      <h1 class="text-center mt-2 mb-4" style="margin-bottom:20px">Research Institute</h1>
     
      <h2 class="text-center" style="margin-bottom:15px"> About our research projects: </h2>
      <div class="row" style="margin-bottom:30px">
        <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sem velit, lobortis id nunc non, dapibus pretium velit. Cras pretium lectus quis ante pretium lacinia. In suscipit hendrerit semper. Aenean sagittis aliquam finibus. Ut mattis lacus eu leo laoreet efficitur a in ipsum. Donec ornare elit sed convallis porttitor. Maecenas eget libero pretium, rhoncus justo a, ornare neque. Cras aliquet nibh nunc, eu malesuada ante malesuada nec. Pellentesque ut urna vel nisi gravida viverra. Praesent semper tortor in est mollis convallis. Cras vitae lectus est. Sed lacinia, orci vel faucibus sodales, neque elit tempor enim, vel lacinia ipsum ipsum in magna. Cras pretium lectus quis ante pretium lacinia. In suscipit hendrerit semper.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/work.jpg" style="height:320px; border-radius:4px"> 
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {%for job in jobs %}
          {%include 'jobitem.html'%}
        {% endfor %}
        
      </div>
        <div class="text-center">
          <a class="btn btn-secondary btn-lg" href="mailto:hello@gmail.com">Contact Us</a>
        
        </div>
    </div>
      {% include 'footer.html' %}
    </body>

</html>